@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Roboto:wght@500&display=swap");

$main-font: 'Fira Code';
$main-bg-color: #383189;

body {
    font-family: $main-font;
    color: white;
    margin: 0;
    padding: 0;
}

.text-black {
    color: black;
}